/* Basic Styles */

header {
    background: #fff;
}

.headerlogo {
    width: 30%;
}
    
nav {
    padding: 15px 0;
    background: #fff;
}

.main_content {
    margin-top: 50px;
}

.content {
    margin: 20px 0px;
}

li {
    margin: 10px 0px;
}


/* Content Styles */

#localplants {
    padding-bottom: 100px;
}

/* Footer Styles */

.footerheader {
    text-align: center;
}





footer {
    padding: 50px 0px;
}
